{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
{% if error is defined and error %}
    <div>{{ error_text }}</div>
{% endif %}
{% if captcha is defined %}
<input type="hidden" name="_k_token" value="{{ captcha }}" />
{% endif %}
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <label class="control-label" for="captcha">Captcha</label>
<div class="controls"><img src="{{ asset('captcha.jpg') }}" alt="" />
<input name="_captcha" required="required" type="text" maxlength="6" placeholder="Captcha" data-error-message="Enter the Captcha code" data-required="true" /></div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>

