{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <body>
    <div id="wrapper">
        <div id="container">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    SALIR
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">INGRESAR</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
	</div>
	</div>
    </body>
{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% endblock %}
