{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
        <div id="container">

<h1>ADMINISTRAR USUARIOS</H1>  
  
<form action="/admin/roles" id="rolesForm">
  <ul>
	{% for item in users %}
	<li>{{ item.getUserName() }} - {{ item.getEmail() }}</li> <select name={{ item.getUserNameHTML()}} form="rolesForm">
		<option value="ROLE_USER" {% if item.hasRole("ROLE_USER")%}selected="selected"{% endif %} >inhabilitado</option>
		<option value="ROLE_STAFF" {% if item.hasRole("ROLE_STAFF")%}selected="selected"{% endif %} >habilitado</option>
		<option value="ROLE_ADMIN" {% if item.hasRole("ROLE_ADMIN")%}selected="selected"{% endif %} >admin</option>	
		<option value="DELETE" >ELIMINAR</option>	
	</select>
	{% endfor %}
  </ul>
  <input type="submit" value="Guardar">
</form> 

<h1>ADMINISTRAR CURSOS</H1>  
  
<form action="/admin/cursos/add" id="cursosForm">
  CUE:<br>
  <input type="text" name="cue" pattern="[0-9]+" maxlength="10"> 
  <br>
  Nombre de la escuela:<br>
  <input type="text" name="nombre" maxlength="99">
  <br>
  A&ntilde;o:<br>
  <input type="text" name="grado" pattern="[0-9]+" maxlength="2">
  <br>
  Divisi&oacute;n:<br>
  <input type="text" name="division" pattern="[0-9]+" maxlength="2">
  <br>
  Turno:<br>
  <input type="text" name="turno" pattern="[A-Za-z\u00C1\u00E1\u00C9\u00E9\u00CD\u00ED\u00D3\u00F3\u00DA\u00D1\u00F1]+" maxlength="16">
  <br>
  <br>
<input type="submit" value="Agregar">
</form> 

<ul>
	{% for item in cursos %}
	<span>CUE: <b>{{ item.getCue() }}</b>. Nombre: <b>{{ item.getNombre() }}</b>. A&ntilde;o: <b>{{ item.getGrado() }}</b>. Divisi&oacute;n: <b>{{ item.getDivision() }}</b>. Turno: <b>{{ item.getTurno() }}</b>. <a href="/admin/cursos/delete?id={{ item.getId() }}">eliminar</a></span><br>
	{% endfor %}
  </ul>  

<a href="/alumnos/export/dialogs" download="dialogs.csv">DESCARGAR TABLA "DIALOGOS"<a><br>
<a href="/alumnos/export/dialog_replies" download="dialog_replies.csv">DESCARGAR TABLA "DIALOGS_REPLIES"<a><br>
<a href="/alumnos/export/levels_data" download="levels_data.csv">DESCARGAR TABLA "LEVEL_DATA"<a><br>
<a href="/alumnos/export/levels" download="levels.csv">DESCARGAR TABLA "LEVEL"<a><br>
<a href="/alumnos/export/selfies" download="selfies.csv">DESCARGAR TABLA "SELFIE"<a><br>
<a href="/alumnos/export/users" download="users.csv">DESCARGAR TABLA "USERS"<a><br>
<a href="/alumnos/export/metrics" download="metrics.csv">DESCARGAR TABLA "METRICS"<a><br>

</div>
</div>               
{% endblock %}
