{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
        <div id="container">
  <h1>BUSCAR ALUMNO</H1>  
<form action="/alumnos" id="cursoForm">

	<input type="text" id="user_id" name="user_id" minlength="4" maxlength="6" size="10" pattern="[A-Z|0-9]*" requiered />
	<input type="submit" value="BUSCAR">
</form> 

{% if users|length > 0 %}


<h1>ALUMNO</H1>  

  {#<select onchange="window.location.href='organizacion?level=1&users='+this.value">#}
  <select name="users" form="infoForm">
	<!--<option value="-1">Alumnos</option>-->
	{% for item in users %}
	<option value="{{item.getComputerId()}}_user_id={{item.getUserId()}}">{{item.getUserId()}}</option>
	 {% endfor %}
  </select><br><br>
  <form action="/organizacion" id="infoForm">
  <input type="submit" formaction="/alumnos/organizacion" value="ORGANIZACION">
  <input type="submit" formaction="/alumnos/autocontrol" value="AUTOCONTROL">
  <input type="submit" formaction="/alumnos/determinacion" value="DETERMINACI&Oacute;N">
  <input type="submit" formaction="/alumnos/empatia" value="EMPAT&iacute;A"><br>
  <input type="submit" formaction="/alumnos/asertividad" value="ASERTIVIDAD Y CONDUCTA PROSOCIAL">
  <input type="submit" formaction="/alumnos/colaborativo" value="TRABAJO COLABORATIVO"><br>
  <input type="submit" formaction="/alumnos/autoeficacia" value="AUTOEFICACIA Y AUTOCONCEPTO">
  </form>

{% endif %}
              
	      </div>
	      </div>
{% endblock %}
