{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
        <div id="container">
  <h1>AUTOCONTROL</H1>  
	
	<h2>USUARIO: {{userName}}</h2>

	<h3>Nivel: </h3>
	{# <select name=level form="levelForm">#}
	<select onchange="window.location.href='autocontrol?users={{user}}&level='+this.value">
			<option value="{{levelOp|first}}">seleccionar</option>
			{% for item in levelOp %}
			<option value="{{item}}" {% if item == levelSel %}selected="selected"{% endif %}>{{item}}</option>
			 {% endfor %}
  	</select>
	

	<ul>		

		{% if selfies|length > 0 %}
			<h2>Selfies</h2>
			<ul>
			{% for selfie in selfies %}
			<li>
				<span>FECHA: {{selfie.getTimeString()}}</span><br>
				<span>Emoji: {{selfie.getEmojiName()}}</span><br>
				<span>Estado: {{selfie.getEstado()}}</span><br>
			</li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if rejugadas > 0 %}
			<h2>Cantidad de inicios del nivel: {{rejugadas}}</h2>
		{% endif %}

		{% for item in levels %}

		<li>
			<h2>Fecha: {{ item.getTimeString }}</h2>


			<span>Tiempo que tarda en resolver el laberinto: {{ item.getGameTime() | number_format(1, '.', ',') }} segundos</span><br>
			<span>Cantidad de consultas al mapa global del laberinto: {{  item.getMapChecks() }} </span><br>
			<h4>Selecci&oacute;n y uso de las distintas herramientas:</h4>
			<ul>
			<li>Objetivos del nivel:<br>
			{% set m = missions[loop.index0]|split(';') %}
				{% set r = item.getMissions()|split(';') %}
				{% for i in 2..m|length %}
				{{m[i-2] |replace({' ': '_'}) ~ ': '}}{% if r[i-2]=="True" %}logrado{% else %}no logrado{% endif %}
				<br>
				{% endfor %}
				</li>
			<li>Recursos iniciales: {{ item.getRtBegin() }} RT</li>
			<li>Herramientas Seleccionadas:<br>
			{{ item.getToolsSelected()|replace({';': '\r\r'}) }}</li>

			<li>Recursos utilizados en herramientas: {{ item.getRtBegin() -item.getRtAfterTools() }} RT</li>
			<li>Portales Cerrados: {{item.getPortalDone()}} ({{portals[loop.index0]}})</li>
			<li>Fuegos Apagados: {{item.getFireDone()}} ({{fires[loop.index0]}})</li>
			<li>Poluci&oacute;n eliminada: {{item.getPollutionDone()}} ({{pollutions[loop.index0]}})</li>
			
			</ul>
		<h4>Secuencia de resoluci&oacute;n y callejones sin salida</h4>
		 <table id="testTable">
			<tr>
			<td class='maze' title={{item.getLevelId()}} name={{ item.getMapTrail() }} alt={{ item.getMapDeadEnds }}></td>
			</tr>
			</table>
		</li>

		{% endfor %}
	</ul>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/mazeGen.js')}}"></script>
{% endblock %}
