{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
        <div id="container">
  <h1>TRABAJO COLABORATIVO</H1>
  <h2>USUARIO: {{username}}</h2>
<ul>
	{% for item in replies %}
		<li>
			<h2>Fecha: {{ item.getTimeString }}</h2>
	    
			<span>Nivel: {{ item.getLevelId() }}</span><br>
			<span>Indicador: {{dialogs[loop.index0].getTipoIndicador()}} - {{dialogs[loop.index0].getSubTipoIndicador()}} - {{dialogs[loop.index0].ValorIndicador()}}</span><br>
			<span>Personaje: {{ item.getCharacterName() }}</span><br>
			<span>Pregunta: {{dialogs[loop.index0].getDialogPrompt()}}</span><br>
			<span>Respuesta: {{dialogs[loop.index0].getAnswerText()}}</span><br>
			<span>Tiempo de Respuesta: {{item.getDialogTime()}} segundos</span><br>
		</li>
        {% endfor %}
</ul>	
</div>
</div>
{% endblock %}
