{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
        <div id="container">
  <h1>DETERMINACI&Oacute;N</H1>  
	
	<h2>USUARIO: {{userName}}</h2>
	<br>
	<h3>Porcentaje de los objetivos intermedios cumplidos: <b>{{percent}}%</b></h3>
	<br>
	<h3>Cantidad de intentos previo a saltar el nivel imposible: <b>{{intentos}}</b></h3>

	<p>Nota: la posibilidad de saltar el nivel imposible aparece luego de 2 intentos</p>

	
</div>
</div>
{% endblock %}
