{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
                <h1 class='title'><span>Bienvenidos a Cruce de Mundos</span></h1>
		{#<p class='content'>Aqu&iacute; se alojar&aacute; proximamente la p&aacute;gina con los indicadores obtenidos en el juego <b>Cruce De Mundos</b></p>#}
		<p class='content'>Esta es la p&aacute;gina para acceder a los indicadores obtenidos a trav&eacute;s del juego <b>Cruce De Mundos</b>.</p>
		<p class='content'>Ingrese con su usuario y contrase&ntilde;a para acceder a los datos.<br>
		Presionando el bot&oacute;n <b>Cursos</b> podr&aacute; seleccionar los alumnos y visualizar la informaci&oacute;n.</p>

		<p class='content'>Si no cuenta con un usuario registrado, complete el formulario de registro.</p>
		<p class='content'>Luego cont&aacute;ctese con el administrador del sistema, indic&aacute;ndole nombre de usuario y correo electr&oacute;nico registrado, para que se le otorguen los permisos necesarios para acceder a los datos.</p>
		<p class='content'>Muchas gracias.</p>

        </div>
    </div>

{% endblock %}
