{% extends 'base.html.twig' %}


{% block body %}

   
    <div id="wrapper">
        <div id="container">
                <h1 class='title'><span>Parece que ha ocurrido un error</span></h1>
                <h2>El servidor ha respondido con el siguiente c&oacute;digo de error: "{{ status_code }} {{ status_text }}".</h2>
		<!--<p class='content'>Por favor h&aacute;ganos saber si el problema persiste. Disculpe los inconvenientes.</p>-->

        </div>
    </div>
   
{% endblock %}
