{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/register.css') }}" />
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
