{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="_k_token" value="{{ captcha }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input maxlength="180" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input maxlength="255" type="password" id="password" name="_password" required="required" />

    <div> 
<label class="control-label" for="captcha">Captcha</label>
<div class="controls"><img src="{{ asset('captcha.jpg') }}" alt="" />
<input name="_captcha" required="required" type="text" maxlength="6" placeholder="Captcha" data-error-message="Enter the Captcha code" data-required="true" /></div>
</div>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
<a href='/resetting/request'>Olvid&eacute; mi contrase&ntilde;a</a>
{% endblock fos_user_content %}

