<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cruce De Mundos{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

	<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="{{ asset('css/w3.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favico.ico') }}" />
    </head>
    <body>

     <header>
    	<div id='header-content'>
	<div class="w3-col s12 m6 l6"><a href="/"><img id='logoCDM' src="{{ asset('img/logoCDM.png') }}"/></a></div>

	<div class="w3-col s12 m6 l6">    
		<ul class="topnav" id="myTopnav">
		<li class="icon">
		<a href="javascript:void(0);" onclick="NavToggle()"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</li>

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% if is_granted('ROLE_ADMIN') %}
		  <li class='sectionButt'><a href='/admin' onclick="NavToggle()">ADMIN</a></li>		
		{% endif %}
		<li class='sectionButt'><a href='/alumnos' onclick="NavToggle()">ALUMNOS</a></li>		
		<li class='sectionButt'><a href='/profile' onclick="NavToggle()">PERFIL</a></li>
		<li class='sectionButt'>
			<a href="{{ path('fos_user_security_logout') }}">
			    SALIR
			</a>
		 </li> 
		{% else %}
			<li class='sectionButt'>
					<a href="/register">REGISTRARSE</a>		
			</li>
			<li class='sectionButt'>
					<a href="{{ path('fos_user_security_login') }}">INGRESAR</a>		
			</li>
		{% endif %}
		</ul>
	</div>
	</div>

    </header>
    
        {% block body %}{% endblock %}

	<footer>
		<img id='logoBA' src="{{ asset('img/logoBA.png') }}"/>
        </footer>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
    </body>
</html>
