body{
	overflow:auto;
	background-color:#e2e2e2;
	font-family:Tahoma;
}

header{
	background:black;
	height:10vw;
	position:relative;
	margin-bottom:80px;
}

#header-content{
	position:absolute;
	bottom:0px;
	width:100%;
	height:100%
}

#logoCDM{
	width:30vw;
	margin-top:3vw;
	margin-bottom:0px;
}

ul.topnav {
	position:absolute;
	bottom:0px;
	right:0px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	padding-left:5%;
	padding-right:5%;
	z-index: 200;
}
ul.topnav li {
	float: left;
	margin-right: 5px;
}
ul.topnav li a {
	display: inline-block;
	color: #a1ffa1;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.0vw;
	font-family:Tahoma;
	font-weight:bold;
}
ul.topnav li.sectionButt a:hover {
	background-color: #555;
}

ul.topnav li.icon,ul.topnav li.search {display: none;}

.title{
	color: #545353;
	font-size: 2.0vw;
	font-family:Tahoma;
}

.content{
	color:#545353;
	font-size: 1.0vw;
	font-family:Tahoma;
}

#wrapper{
	max-width:1024px;
	margin:auto;
	margin-bottom:250px;
}

th{
	border:solid;
}

td{
	border:solid 1px;
	text-align:center;
	//padding:20px;
	padding:0.5vw;
}

.maze{
	margin:auto;
	//font-size:1px;
}

.maze button{
	font-size:10px;
}

.right{
	float:right;
}

footer{
	margin-top:50px;
	background:black;
	position:fixed;
	bottom:0px;
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logoBA{
	float:right;
	width:12vw;
	margin-bottom:0px;
}

li{
	list-style: none;
}

#infoForm input{
	margin:5px 5px 5px 0px;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1100px) {
	#wrapper{
		margin:10vw;
	}
}

@media screen and (max-width:767px) {
	
	ul.topnav{
		position:absolute;
		padding-left:0px;
		padding-right:0px;
		right: 0px;
		bottom: -15px;
	}

	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: left;
		display: contents;
		font-size:17px;
	}

	ul.topnav li a{font-size:2.5vw;}

	ul.topnav li.icon a{font-size:17px;}

	ul.topnav.responsive{
		position:absolute;
		top:0px;
	}

	/*ul.topnav.responsive {position: relative;}*/
	ul.topnav.responsive li.icon {
		//margin-right:100%;
	}
	ul.topnav.responsive li.sectionButt {
		//float: none;
		display: inline;
		margin-top:35px;
	}
	ul.topnav.responsive li a {
		//display: block;
		text-align: left;    
	}

	#header-content.responsive{
		bottom:auto;
		height:auto;
	}

	#navTitle{
		display:inline;
	}
}
